 write a python function to check if a number is prime

In [39]:
n = int(input("please enter a value"))
c = 0
for i in range(1 , n+1):
    if n % i== 0:
        c= c+1
if c==2 :
    print("number is prime")
else:
    print('number is not prime')

please enter a value 7

number is prime

 write a python function that returns the sum of elements in a list

In [1]:
l = [1,2,3,4,5]

In [2]:
def test(l):
    return sum(l)

In [3]:
test(l)

15

write a python program to read a file and count the occurrence of a specific word

In [44]:
s = 'datascience'
s.count(s)

1

write a program to calculate the sum of elements in a list using list comprehension

In [14]:
1 = [1,2,3,4,5,6,7]
sum( i for i in l if type(i)==int)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3115905672.py, line 1)

 write a program to count the number of words in a string

In [2]:
s = 'datascience'
len(s)

11

write a python program using a lambda function to find the sqare of a number

In [6]:
a= int(input('pls enter a value'))
[ a*a ]

pls enter a value 5

[25]

write a python program to handle division by zero using try_except

In [15]:
a = int(input('pls enter 1st value'))
b= int(input('pls enter 2nd value'))
try:
   c = a/b
   print(c)
except ZeroDivisionError:
     print('b should not b zero')

pls enter 1st value 6
pls enter 2nd value 0

b should not b zero

write a  python function that takes two numbers as arguments and return their sum

In [4]:
a = 4
b = 6
a+b

10

write a function to check wheather a guven number is even or odd

In [23]:
  a = int(input('please enter a value'))
  if a%2==0 :
    print('even')
  else:
    print('odd')

please enter a value 8

even

write a function thar takes a number as inout abd returns the square of that number

In [24]:
def test() :
  a = 20
  return a*a

In [25]:
test()

400

write a function that takes a list of numbers and return a new list containing only the even numbers

In [26]:
l = [1,2,3,4,5,6,7,8,9,0]

In [27]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [47]:

    l1= []
    for i in l :
        if i % 2 == 0:
         l1.append(i)
    print (l1)

[2, 4, 6, 8, 0]

write a function that takea a string and returns the reversed string

In [1]:
s = 'datascience'

In [2]:
s

'datascience'

In [5]:
def test(s) :
   return s[::-1]

In [6]:
test(s)

'ecneicsatad'

write a function that takes two strings ans concatenates them

In [9]:
def test() :
  s1 = 'aimnxt'
  s2 = 'datascience'
  return  s1 +s2

In [10]:
test()

'aimnxtdatascience'

write a function that takes a string and returns both its uppercase and lowercase versions

In [51]:
s = 'aiMnxt'

In [52]:
  s.upper()

'AIMNXT'

In [49]:
test2()

In [17]:
ts.lower()

'aimnxt'

write a python program to print all odd numbers from 1 to 50 using a for loop and if statement

In [45]:
for i in range(1, 51):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

write a python program to print all numbers divisible by both 3 and 5 between 1 and 100

In [53]:
for i in range(1, 100):
    if i % 3 == 0 and i % 5 ==0 :
        print(i)

15
30
45
60
75
90

write a function to find the maximum of three numbers

In [54]:
l = [1,2,3]

In [55]:
def test(l):
    return max(l)

In [56]:
test(l)

3

write a function to reverse the string

In [57]:
s = 'aimnxt'

In [59]:
def test(s) :
    s[::-1]

In [60]:
test(s)

write a function that accepts a number n and returns the fabonacci series up to n terms

In [64]:
def fibonacci(n):
    a, b = 0, 1
    for i in range(n):
        print(a, end=" ")
        a, b = b, a + b

In [65]:
fibonacci(10)

0 1 1 2 3 5 8 13 21 34

write a function to print the vowels in a string

In [4]:
s = 'aimnxtdatasciece'

In [6]:
def vowels(s):
    vowels = "aeiouAEIOU"
    return [char for char in s if char in vowels]

In [7]:
vowels(s)

['a', 'i', 'a', 'a', 'i', 'e', 'e']